<!DOCTYPE html>
<html>
	<head>
		<title>nFamilyGraph :: Family Tree Manager</title>
        <script src="/jquery/jquery.min.js" type="text/javascript" > </script>
        <script src="/angular/angular.min.js" type="text/javascript" > </script>
        <script src="/angular-animate/angular-animate.min.js" type="text/javascript" > </script>
        <script src="/angular-route/angular-route.min.js" type="text/javascript" > </script>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> |
			<a href="/admin">Admin Page</a> |
			<a href="/login">Log In</a> |
            <a href="/auth/facebook">Login with Facebook</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> |
			<a href="/admin">Admin Page</a> |
			<a href="/account">Account</a> |
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
